*{
	margin: 0;
	padding:0;
}
.div1{
	
	height: 100vh;
	width: 100%;
	border: 0px solid black;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./img/a2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.div2{
	height: 90%;
	width: 70%;
	/*border: 1px solid black;*/
	display: flex;
	color: whitesmoke;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 4rem;
}
.div2>button{
    height:45px;
    width: 120px;
    background:orange;
    outline-style:none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.div2>button:hover{
	transition-duration :3s;
    transform: scale(1.3);
    cursor: pointer;
    background-color: lightgrey;
}

.nav-bar{

	height: 100px;
	width:100%;
	border: 0px solid black;
	color: white;
	display:flex;
	justify-content: space-around;
	background-color:transparent;
	background: rgba(211,211,211 ,0.5);
	align-items: center;

}
.nav-bar ul{
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	border: 0px solid black;
	height:100px;
	width:50%;
	cursor: pointer;
}
.nav-bar ul li:hover{
	height: 20px;
	width: 100px;
	background:orange;
	border-radius: 20px;
	text-align: center;
}
.div2{
	margin-left: 50%;
	height: 50vh;
}

.portion2{
	position: relative;
	width: 100%;
	height: 90vh;
	border: 0px solid black;
	/*background: #00ff80;*/
}
.a1{
	position: absolute;
	height: 400px;
	width: 550px;
	border:0px solid black;
	left:30px;
	top: 70px;
	background-image: url(./img/J1.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.a2{
	position: absolute;
	height: 400px;
	width: 550px;
	border:0px solid black;
	left: 700px;
	top: 70px;
}
.a2 h2{
	position: absolute;
	color: grey;
	margin-left: 25px;
}
.a2 h1{
	position: absolute;
	font-size: 50px;
	left:30px;
	top: 50px;
}
.a2 p{
	position: absolute;
	color: grey;
	top: 130px;
	left: 30px;
	font-size: 20px;
}
.a2 button{
    position: absolute;
    height: 40px;
    width: 150px;
    top: 330px;
    left: 30px;
    font-size: 15px;
    color: white;
    background: #00997e;
    border-radius: 20px;
    cursor: pointer;
}
